/* Universal Reset */
@import url("https://fonts.googleapis.com/css?family=Lato");
@font-face {
  font-family: "Quantum";
  src: url(../assets/Quantum.otf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

*::selection {
  background-color: var(--main-bg-color);
}
/* General CSS */

body {
  --main-bg-color: #33d9b2;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}
h1,
.logo {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: "Quantum", condensed;
}

.fas {
  color: #33d9b2;
}

.text-center {
  text-align: center;
}

/* hr CSS */
hr {
  background-color: #0e1110;
  color: #0e1110;
  border: none;
  height: 1px;
  margin: 0 auto;
  margin-top: 20px;
}

/* Container CSS */

.container {
  margin: 0 auto 50px;
  text-align: center;
  width: 90%;
}

/*===== Nav ====*/
nav {
  background-color: #232a3b;
  color: #fff;
  font-size: 1.4em;
  padding: 20px 0;
  text-transform: uppercase;
}

.logo span {
  color: #33d9b2;
}

.links {
  list-style-type: none;
}
.links li {
  margin-right: 25px;
}
li {
  list-style-type: none;
}

/* LINK CSS */
a {
  color: #fff;
  text-decoration: none;
}
/* ==Header Image== */
nav {
  transition: all 0.5s;
}
.header-image {
  background: #8c93d3 url("../assets/headerImg.jpg") no-repeat center;
  background-size: cover;
  height: 400px;
  overflow: auto;
  text-align: center;
  width: 100%;
}

.header-image h2 {
  color: #33d9b2;
  padding-top: 120px;
  font-size: 2em;
}

.header-image h2 {
  padding-top: 100px;
}

.header-image h3 {
  align-self: center;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 25px;
}
.header-image span {
  color: #33d9b2;
}

/* ServiceList CSS*/
#services {
  margin-top: 50px;
}

#services hr {
  width: 150px;
}
#services p {
  margin-top: 30px;
}

ul.serviceList h3 {
  margin: 10px 0;
}
.serviceList i {
  margin-top: 40px;
}

/* Pricing CSS*/
#pricing {
  background-color: #7f8d9e;
  padding: 40px 0 20px;
}

#pricing hr {
  margin-bottom: 30px;
  width: 100px;
}

.card {
  background: #fff;
  margin-bottom: 30px;
  text-align: center;
  transition: transform 0.5s;
}

.card:hover{
  transform:scale(1.05);
}
.card *:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.card * {
  padding: 10px;
}
.card h4 {
  color: #fff;
}
.pricing-title {
  background-color: var(--main-bg-color);
  text-transform: uppercase;
  transition: background-color 0.5s;
  
}
.pricing-title:hover{
  background-color: var(--main-bg-color);
}
.item-1 h4,
.item-3 h4 {
  background-color: #333;
}

button{
  min-width: 150px;
  background:#fff;
  border: #33d9b2 solid 1px;
  border-radius: 5px;
  margin: 10px 0;
  transition: color .5s, background-color .5s;

}

button:hover{
  cursor:pointer;
  color:#fff;
  background-color: var(--main-bg-color);
}
/* Contact Us */

/* Footer */
footer {
  background-color: #232a3b;
  color: white;
  padding: 40px;
}
footer {
  text-align: center;
}
.footer-title {
  color: #33d9b2;
  margin-bottom: 10px;
}

#about-us p:nth-child(3) {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Media Queries */

@media only screen and (min-width: 1024px) {
  button{
    width: 90%;
  }
}

@media only screen and (min-width: 769px) {
  .main-header nav,
  .main-header ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1em;
  }
  .main-header nav {
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .main-header h1 {
    align-self: center;
    margin: 0 auto;
    margin-left: -25px;
  }
  .main-header li {
    margin-right: 30px;
  }

  .header-image h2 {
    padding-top: 150px;
  }
  .flex-container {
    display: flex;
    justify-content: center;
  }

  .container {
    width: 80%;
  }

  .item-1,
  .item-2,
  .item-3 {
    flex-grow: 1;
  }
#pricing .item-1,
#pricing .item-2,
#pricing .item-3 {
  margin-top: 10px;
}
#pricing .item-2 {
    margin: 0 20px;
    height:284px;
  }

.card.item-2 {}

  #contactInfo {
    flex: 2;
  }
  #about-us {
    flex: 5;
  }
  footer {
    text-align: left;
  }
  #contactInfo p {
    line-height: 1.2;
  }
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (orientation: landscape) {
  .container {
    width: 80%;
  }
}
