/* Universal Reset */
@import url("https://fonts.googleapis.com/css?family=Lato");
@font-face {
  font-family: "Quantum";
  src: url(../assets/Quantum.otf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: #33d9b2;
}
/* General CSS */

body {
  font-family: "Lato", sans-serif;
}
h1,.logo {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-family: "Quantum", condensed;
}

.fas{
  color:#33d9b2;
}

.text-center{
  text-align: center;
}
/*===== Nav ====*/
nav {
  background-color: #232A3B;
  color: #fff;
  font-size: 1.4em;
  padding: 20px;
  text-transform: uppercase;
}

.logo span {
  color: #33d9b2;
}

.links {
  list-style-type: none;
}
.links li {
  margin-right: 25px;
}
/* LINK CSS */
a {
  color: #fff;
  text-decoration: none;
}
/* ==Header Image== */
.header-image {
  background: #20212a url("../assets/headerImg.jpg") no-repeat center;
  background-size: cover;
  height: 400px;
  overflow: auto;
  text-align: center;
  width: 100%;
  transition: all 2s ease-in-out;
}

.header-image h2 {
  color: #33d9b2;
  padding-top: 120px;
  font-size: 3em;
}

.header-image h3 {
  color: #fff;
  margin-top: 100px;
  margin-bottom: 25px;
  align-self: center;
}
.header-image span {
  color: #33d9b2;
}
.header-image hr {
  border-color: #33d9b2;
  width: 300px;
  margin: 0 auto;
}

/* Media Queries */

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 769px) {
  .main-header nav, .main-header ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
  }
  .main-header nav {
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .main-header ul {
    margin-right: 10%;
  }
  .main-header h1 {
    align-self: center;
    margin: 0 auto;
  }
  .main-header li {
    margin-right: 30px;
  }
}
/*Tablet*/
@media only screen and (min-width: 500px) {

}
/* Mobile Landscape */
@media only screen and (min-width: 480px) and (orientation: landscape) {
}
